Question 1: Print First 10 natural numbers using while loop.

In [1]:
count = 1
while count <= 10:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10

Question 2: Print the following pattern

In [2]:
rows = 5

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Question 3: Accept number from user and calculate the sum of all number between 1 and given
number.
Expected output:
For example, user given 10 so the output should be 55

In [4]:
num = int(input("Enter a number: "))
sum = 0

for i in range(1, num + 1):
    sum += i

print("The sum of all numbers between 1 and", num, "is:", sum)

Enter a number: 10
The sum of all numbers between 1 and 10 is: 55

Question 4: Print multiplication table of given number.
Expected output:
For example, num = 2 so the output should be

In [5]:
num = int(input("Enter a number: "))

print("Multiplication Table of", num)
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter a number: 2
Multiplication Table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Question 5: Given a list iterate it and display numbers which are divisible by 5 and if you find number
greater than 150 stop the loop iteration.
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

In [6]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

for num in list1:
    if num > 150:
        break
    if num % 5 == 0:
        print(num)

15
55
75
150

Question 6: Given a number count the total number of digits in a number.
Expected output:
For example, the number is 75869, so the output should be 5

In [7]:
num = int(input("Enter a number: "))

count = 0
while num != 0:
    num //= 10
    count += 1

print("The total number of digits in the number is:", count)

Enter a number: 75869
The total number of digits in the number is: 5

Print the following pattern using for loop.

In [8]:
rows = 5

for i in range(rows, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Question 8: Reverse the following list using for loop. list
= [10, 20, 30, 40, 50]

In [11]:
list1 = [10, 20, 30, 40, 50]

reversed_list = []
for i in range(len(list1)-1, -1, -1):
    reversed_list.append(list1[i])

print("Original list:", list1)
print("Reversed list:", reversed_list)

Original list: [10, 20, 30, 40, 50]
Reversed list: [50, 40, 30, 20, 10]

: Display a message “Done” after successful execution of for loop

In [13]:
for i in range(9):
    print(i)
print("Done")

0
1
2
3
4
5
6
7
8
Done

Question 10: Display Fibonacci series up to 10 terms.
Fibonacci sequence: Each number is the sum of the two preceding ones, starting from 0 and 1.

In [14]:
num_terms = 10

fibonacci_series = [0, 1]

for i in range(2, num_terms):
    next_term = fibonacci_series[i-1] + fibonacci_series[i-2]
    fibonacci_series.append(next_term)

print("Fibonacci Series:")
for term in fibonacci_series:
    print(term)

Fibonacci Series:
0
1
1
2
3
5
8
13
21
34

Question 11: Write a loop to find the factorial of any number.
Note: The factorial (symbol: !) means to multiply all whole numbers from our chosen number down to 1.

In [15]:
num = int(input("Enter a number: "))

factorial = 1

for i in range(1, num + 1):
    factorial *= i

print("The factorial of", num, "is:", factorial)

Enter a number: 5
The factorial of 5 is: 120

Question 12: Python program to display all the prime numbers within a range.
Note: A Prime Number is a whole number that cannot be made by multiplying other whole numbers.

In [17]:
start = int(input("Enter the starting number: "))
end = int(input("Enter the ending number: "))

print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Enter the starting number: 25
Enter the ending number: 40
Prime numbers between 25 and 40 are:
29
31
37